[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
symbolic-links=0
user=mysql

[client]
socket=/var/run/mysqld/mysql.sock
